.contenedor-productos {
    position: relative;
    top: 60px;
/*    background-color: red;*/
}

.categoria{
    color: white;
    background-size: cover;
    height: 70px;
}

input[type='checkbox'] {
/*    -webkit-appearance:none;
    width:50px;
    height:30px;
    background: red !important;
    border-radius:5px;
    border:2px solid #555;*/
}
input[type='checkbox']:checked {
    background: red;
}